@import url ('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
*
{
	font-family: 'Courier Prime', monospace;
}
body{
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

div.a {
  text-align: center;
}