body{
	background-image: url(.jpg);
	background-position: center;
	background-size: cover;
}
#wrapper{
	width: auto;
	height: 500px;
	padding: 2px;
	border: 0;
}
#wrapper div{
	width: 350px;
	height: 400px;
	margin: 10px;
	border: 2px solid #000000;
	float: left;
	font-size: 18px;
	color:#000000;
}
#wrapper div img {
 	width: 330px;
 	height: 330px;
}
h1{
	color: #000000;
}
