
body{
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
}
#wrapper{
		width: auto;
		height: 500px;
		padding: 2px;
		border: 0;
}
#wrapper div{
		 width: 250px;
		 height: 400px;
		 margin: 10px;
		 border: 2px solid #090903;
		 float: center;
		 font-size: 18px;
		 color:#B8D68E;
}
#wrapper div img {
 		 width: 100px;
 		 height: 100px;
}
h1{
	    color: #FFAE00;
		}		
