body{
	background-image: url(Untitled-1.jpg);
	background-position: center;
	background-size: cover;
}
#wrapper{
	width: auto;
	height: 500px;
	padding: 2px;
	border: 0;
}
#wrapper div{
	width: 300px;
	height: 450px;
	margin: 10px;
	border: 2px solid #FFFFFF;
	float: left;
	font-size: 18px;
	color:#FFFFFF;
}
#wrapper div img {
 	width: 200px;
 	height: 200px;
}
h1{
	color: #FFFFFF;
}		
